/*
filename: main.css
Authors: Andrew Hill, Ethen (Chenglong M), Jason Dally, Monii Flores
Last Edited: 01/09/2016
description: Styles for PHP Inventory System

***swatches***
h1 color: #ff8a00
h2 color: #5961a0
Menu hover color: #63a8e8
Background middle color: #4a4a4a
Error color: #ff5400
*/

* {
   margin: 0px;
   padding: 0px;
   font-family: arial;
}

body
{
	background-color: white;
}

header {
	background-image: url("images/header_bg.jpg");
	background-repeat: repeat-x;
	background-position: center;
	height: 100px;
	min-width: 320px;
}

h1 {
	font-family: verdana;
	font-size: 4em;
	font-weight: bold;
	font-style: italic;
	color: #ff8a00;
	text-shadow: 2px 2px black;
	float: left;
}

#headerimage {
	float: right;
	width: 100px;
	height: 100px;
}

h2 {
	margin-bottom: .5em;
	font-family: verdana;
	font-size: 2.25em;
	color: #5961a0;
}

h3 {
	margin-bottom: .5em;
	font-family: verdana;
}

nav {
	width: 100%;
}

nav ul {
	text-align: center; /* Alignment of blocks containing text */
	background-color: black;
	border-top: 1px solid #63a8e8;
}

nav ul li {
	width: 7em;
	font-size: 1.25em;
	display: inline-block;
	text-align: center; /* Alignment of text within block */
}

nav ul li:hover {
	background-color: #63a8e8;
}

nav ul li a {
	color: white;
	text-decoration : none;
}

/* This id defines the area containing the central article and content, as well as the negative space on the sides */
#middle {
	background-color: #4a4a4a;
}

/* The white page containing the actual content */
article {
	background-color: white;
	margin: auto;
	width: 1024px;
	font-size: 0.9em;
	overflow: auto; /* fixes problem with float and background */
}

article a {
	color: red;
	text-decoration: none;
}

#biglink {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	text-decoration: underline;;
}

/* This is a div nested within article and is used to contain article content */
/* Padding was being factored into "margin: auto;" which caused problems with screen scaling */
#articlecontent {
	margin: 2%;
	width: 96%; /* Because I can't work out why the hell the width is ignoring the right margin! */
	float: left;
}

#articlecontent p {
	margin: 1em 0 1em 0;
}

footer {
	color: white;
	background-color: black;
	text-align: right;
	bottom: 0;
	padding-right: .5em;
	clear: both;
}

footer a {
	color: red;
	text-decoration: none;
}

#itemtable {
	width: 100%;
	border-collapse: collapse;
}

#itemtable td, #itemtable th {
	border: 1px solid black;
}

#itemtable th {
	background-color: lightgrey;
}

#reporttable {
	width: 100%;
	border-collapse: collapse;
}

#reporttable th {
	border: 1px solid black;
}

#reporttable th {
	background-color: lightgrey;
	text-align: left;
}

#reportdownload {
	font-weight: bold;
	font-size: 1.25em;
}

.error {
	color: #ff5400;
}

.error a {
	font-weight: bold;
}

.success {
	color: green;
}